**/*$py.class
**/*.egg
**/*.py[cod]
**/.DS_Store
**/.cache
**/.coverage
**/.coverage.*
**/.eggs/
**/.pytest_cache/
**/.venv
**/Dockerfile
**/__pycache__/
**/coverage.xml
**/eggs/
**/node_modules
**/temp/*
**/templates/macros/
*.cover
*.egg-info/
.general-resources.mk
docker-compose.yml
docs/_build/
integration/Dockerfile.integration
integration/gitlab/
integration/local/
integration/pip_cache/
integration/pre-deployments/runway
integration/runtests.sh
integration/runtests_local.sh
integration/runway/
integration/set_py_version.sh
integration/update_integration.py
reports/
test-coverage.sh
